<h1>Meet Jeremy Odoffin</h1>
<p>Jeremy is a quantitative finance analyst with experience in data analysis,  web application development, supply chain analysis, sourcing and contract negotiation.  

His special interests include tech, finance, web and mobile development,Krav Maga and Brazilian Ju-Jitsu.</p>
