<h1 class='index' id='title'>Aloha</h1>
<p class='index' id='title2' >This is the mock landing page for mock- reddit </p>


<div class="posts"> Post 1 </div>
<div class="posts"> Post 2 </div>

<section> Iam some content </section>